
<style media="screen">

  #contact {
    background: #DEDEDE;
    border-radius: 5px;
    padding: 1rem;
  }

  #contact input, #contact textarea {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    outline: none;
    border: none;
  }

  #contact button {
    font-size: 1.25rem;
    background: dodgerblue;
    border-radius: 5px;
    color: white;
    width: 10rem;
  }

</style>

<script>

// Submit contact form to server
function handleContact() {

  let contactForm = document.getElementById('contact')
  let email = contactForm.elements[0]
  let message = contactForm.elements[1]

  // Create POST body
  let formData = {}
  formData[email.name] = email.value
  formData[message.name] = message.value

  // HTTP request to server
  fetch('http://localhost:2222/', {
    method: 'post',
    mode: 'no-cors',
    body: JSON.stringify(formData)
  }).then( () => {

    // Replace form with "sent" message
    contactForm.innerHTML = '<strong>Message sent!</strong>'
  })

  // Prevent submit
  return false
}

</script>

<form id="contact" onsubmit="return handleContact()">
  <input type="email" name="email" value="" placeholder="Email" required>
  <textarea name="message" placeholder="Message" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Send Message</button>
</form>
